<p>Copyright &copy; {{ site.time | date: "%Y" }} David Cramer &mdash; Need exceptional error logging? Try out <a href="https://www.getsentry.com">Sentry</a></p>

<div style="text-indent:-1000000000em;overflow:hidden;">
    <a href="https://sentry.io/for/javascript/">JavaScript Error Tracking</a>
    <a href="https://sentry.io/for/python/">Python Error Tracking</a>
    <a href="https://sentry.io/for/php/">PHP Error Tracking</a>
    <a href="https://sentry.io/for/ruby/">Ruby Error Tracking</a>
    <a href="https://sentry.io/for/java/">Java Error Tracking</a>
</div>
